.categoriasPosts{
	position: relative;
}	
	.categoriasPosts ul {
    width: 100%;
	}
		.categoriasPosts ul li{
			display: block!important;
			float: left!important;
			padding: 0 20px!important;
			}
			.categoriasPosts .radio{
			    display: none;
			}
			.categoriasPosts .radio:checked ~ label {
				background: red;
			}
			.categoriasPosts label{
				font-size: 18px;
			    cursor: pointer;
			    font-weight: normal;
			    text-transform: uppercase;
			    display: block;
			}
			.categoriasPosts .tab_content{
				width: 100%;
				background: red;
				min-height: 300px;
				position: absolute;
				left: 0;
				display: none;		
			}
			.radio:checked ~ .tab_content {
				display: block;
			}